*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}

body {
    background-color: #f3f5fc
}

.container{
    margin: auto;
    padding: 7px;
    width: 960px;
    height: 650px;
}


.logo{
    width:100%;
    float: left;
}
.logoimg{
    margin-top:1% ;
    margin-left: 5%;
    float: inherit;
}

.titulo{
    margin-left: 12rem;
    margin-top: 2rem ;
    float: inherit;
    text-transform:uppercase ;

    
}

.hombre-ahorcado{
    width: 100vh;
    text-align: center;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    height: 17.65rem;
}

.hombre-ahorcado-img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

.adivinado{
    text-align: center;
    font-size: 1.8rem;
    color: #002462;
}

.letra{
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}
.adivinada{
    width: 4.5rem;
    height: 4.5rem;
    border-bottom: 1px solid ;   
    margin-left: 0.4rem;
    line-height: 4.5rem;
}

.errado{
    text-align: center;
    margin-top: 1rem;
    color: #242d34;
}

.errada{
    margin-left: 1rem;
}

.botones{
    text-align: center;
    margin-top: 3rem;
}

[type="button"]{
    width: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    border:1px solid #0a3871
}

.btn--azul{
    background-color: #0a3871;
    color: #FFFFFF;
    border-color: #000000;
}